<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat</title>
    <link rel="shortcut icon" href="Capturar%20(2).png">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
<noscript>
    <h2>Desculpe! Seu Navegador nao suporta Javascript</h2>
</noscript>

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Coloque seu nome para entrar no chat</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">Iniciar Conversa</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chat teste para meu amor</h2>
        </div>
        <div class="connecting">
            Conectando...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Escreva uma mensagem" autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
